workflows/ovh-email-operations.json
{
  "name": "OVH Email Operations",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-exec-workflow",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [192, 448]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ (() => { const d = Object.assign({}, $json); if (d.input) { try { Object.assign(d, JSON.parse(d.input)); } catch(e) { if (typeof d.input === 'string' && d.input.includes('=')) { const parts = d.input.split('='); const key = parts[0].trim(); let val = parts.slice(1).join('=').trim(); if (val === 'true') val = true; else if (val === 'false') val = false; else if (!isNaN(val)) val = Number(val); d[key] = val; } } delete d.input; } return d; })() }}",
        "includeOtherFields": true,
        "options": {
          "stripBinary": true
        }
      },
      "id": "e644744c-7551-45ed-9cc0-38ecb3376231",
      "name": "Parse Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 448]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.action }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "mark"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-node-if-f4a6",
      "name": "Route Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [560, 448]
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxes": ["={{ $json.mailbox || 'INBOX' }}"],
        "emailDateRange": {
          "since": "={{ $json.since }}",
          "before": "={{ $json.before }}"
        },
        "emailFlags": {
          "answered": "={{ $json.answered }}",
          "deleted": "={{ $json.deleted }}",
          "draft": "={{ $json.draft }}",
          "flagged": "={{ $json.flagged }}",
          "recent": false,
          "seen": "={{ $json.seen }}"
        },
        "customLabels": {},
        "emailSearchFilters": {
          "bcc": "={{ $json.bcc }}",
          "cc": "={{ $json.cc }}",
          "from": "={{ $json.from }}",
          "subject": "={{ $json.subject }}",
          "text": "={{ $json.searchText }}",
          "to": "={{ $json.to }}"
        },
        "includeParts": ["textContent", "flags", "size"],
        "limit": "={{ $json.limit || 5 }}"
      },
      "id": "68c803c6-c82c-4d27-bda9-38f09ced2b16",
      "name": "Read Emails",
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [840, 656],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ (() => { const emails = $input.all().map(item => ({ subject: item.json.subject, from: item.json.from, date: item.json.date, uid: item.json.uid, flags: item.json.flags, size: item.json.size, body: item.json.textContent })); return { count: emails.length, emails }; })() }}",
        "options": {}
      },
      "id": "3ed51d73-4d79-49a7-aa57-267febd5d4b4",
      "name": "Format Read Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 656],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "setEmailFlags",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $json.mailbox || 'INBOX' }}"
        },
        "emailUid": "={{ $json.emailUid }}",
        "flags": {
          "\\Answered": "={{ $json.markAnswered }}",
          "\\Deleted": "={{ $json.markDeleted }}",
          "\\Flagged": "={{ $json.markFlagged }}",
          "\\Seen": "={{ $json.markAsRead }}"
        }
      },
      "id": "b1c5d2e3-f4a6-7890-abcd-ef1234567890",
      "name": "Set Email Flags",
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [840, 272],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Route Action", "type": "main", "index": 0 }]]
    },
    "Route Action": {
      "main": [
        [{ "node": "Set Email Flags", "type": "main", "index": 0 }],
        [{ "node": "Read Emails", "type": "main", "index": 0 }]
      ]
    },
    "Read Emails": {
      "main": [[{ "node": "Format Read Output", "type": "main", "index": 0 }]]
    }
  },
  "nodeGroups": [],
  "tags": [],
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  }
}