workflows/ovh-email-operations.json
{
  "name": "OVH Email Operations",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-exec-workflow",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [240, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.action }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "mark"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "switch-node-if-f4a6",
      "name": "Route Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 304]
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "getEmailsList",
        "mailboxes": ["={{ $json.mailbox || 'INBOX' }}"],
        "emailDateRange": {
          "since": "={{ $json.since }}",
          "before": "={{ $json.before }}"
        },
        "emailFlags": {
          "seen": "={{ $json.seen }}",
          "answered": "={{ $json.answered }}",
          "flagged": "={{ $json.flagged }}",
          "deleted": "={{ $json.deleted }}",
          "draft": "={{ $json.draft }}",
          "recent": false
        },
        "customLabels": {},
        "emailSearchFilters": {
          "from": "={{ $json.from }}",
          "subject": "={{ $json.subject }}",
          "text": "={{ $json.searchText }}",
          "to": "={{ $json.to }}",
          "cc": "={{ $json.cc }}",
          "bcc": "={{ $json.bcc }}"
        },
        "includeParts": ["textContent", "flags", "size"],
        "limit": "={{ $json.limit || 50 }}"
      },
      "id": "68c803c6-c82c-4d27-bda9-38f09ced2b16",
      "name": "Read Emails",
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [640, 304],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ ({\"subject\": $json.subject, \"from\": $json.from, \"date\": $json.date, \"uid\": $json.uid, \"flags\": $json.flags, \"size\": $json.size, \"body\": $json.textContent}) }}",
        "options": {}
      },
      "id": "3ed51d73-4d79-49a7-aa57-267febd5d4b4",
      "name": "Format Read Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 304],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "setEmailFlags",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $json.mailbox || 'INBOX' }}"
        },
        "emailUid": "={{ $json.emailUid }}",
        "flags": {
          "\\Flagged": "={{ $json.markFlagged }}",
          "\\Seen": "={{ $json.markAsRead }}",
          "\\Deleted": "={{ $json.markDeleted }}",
          "\\Answered": "={{ $json.markAnswered }}"
        }
      },
      "id": "b1c5d2e3-f4a6-7890-abcd-ef1234567890",
      "name": "Set Email Flags",
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [640, 600],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Route Action", "type": "main", "index": 0 }], []]
    },
    "Route Action": {
      "main": [
        [{ "node": "Read Emails", "type": "main", "index": 0 }],
        [{ "node": "Set Email Flags", "type": "main", "index": 0 }]
      ]
    },
    "Read Emails": {
      "main": [[{ "node": "Format Read Output", "type": "main", "index": 0 }]]
    }
  },
  "nodeGroups": [],
  "tags": [],
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  }
}