workflows/telegram-ollama-chatbot.json
{
  "name": "Telegram Ollama Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "2c0cc6ed-c04f-487c-96e6-7ce8cbb1cde9",
      "name": "Telegram Message Received",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        2000,
        -208
      ],
      "webhookId": "wh-telegram-001"
    },
    {
      "parameters": {
        "model": "gemma4:26b-mlx",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "a9bcb863-2b53-412f-be27-bd0092a48e2f",
      "name": "Ollama",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2096,
        48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Chat ID: \" + $('Telegram Message Received').item.json.message.chat.id + \"\\nCurrent date: \" + $now.setZone('Europe/Paris').toFormat('yyyy-MM-dd') + \" (Europe/Paris).\\nPre-computed date filters for Read OVH Emails:\\n- last 7 days  -> since=\" + $now.setZone('Europe/Paris').minus({days:7}).toFormat('yyyy-MM-dd') + \"\\n- last 14 days -> since=\" + $now.setZone('Europe/Paris').minus({days:14}).toFormat('yyyy-MM-dd') + \"\\n- last 30 days -> since=\" + $now.setZone('Europe/Paris').minus({days:30}).toFormat('yyyy-MM-dd') + \"\\n- today only   -> since=\" + $now.setZone('Europe/Paris').toFormat('yyyy-MM-dd') + \"\\n\\n\" + ($json.message.text || \"\") }}",
        "options": {
          "systemMessage": "You are a helpful Telegram assistant with access to OVH Outlook emails via the \"Read OVH Emails\" tool.\n\nDATE HANDLING (CRITICAL):\n- The current date and pre-computed date filters are at the top of the user message. Use them directly. NEVER ask the user for dates.\n\nOUTPUT RULES:\n- Always report the total count of emails found.\n- By default show up to 10 most recent emails with a summary of total count.\n- If the user asks to see more, list ALL returned emails.\n- Respond in the same language the user writes in.\n- Use plain text only - no markdown, HTML, or special formatting.\n- NEVER invent email data. Only report what the tool actually returns.",
          "enableStreaming": false
        }
      },
      "id": "c42909c3-ac7e-4061-8fa8-1d5a78900b12",
      "name": "AI Assistant with Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2240,
        -208
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatId }}",
        "contextWindowLength": 10
      },
      "id": "d4e5f6a7-b8c9-4d0e-a1b2-c3d4e5f6a7b8",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        2288,
        48
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Message Received').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "={{ '' }}"
        }
      },
      "id": "b12ffc41-c2a8-4a6d-b11b-c8ef9c6dfd4b",
      "name": "Send Reply to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2800,
        -208
      ],
      "webhookId": "wh-telegram-reply-001"
    },
    {
      "parameters": {
        "description": "Read & filter OVH emails from your mailbox. Optional filters: seen (true=read, false=unread), from, subject, searchText (body), flagged, answered, since/before (YYYY-MM-DD), mailbox, limit (default 50). For marking: set action=mark with emailUid and markAsRead/markFlagged/markDeleted.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "me7ect2HVlIIo4us"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "limit": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "Action: \"read\" or \"mark\"",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "seen",
              "displayName": "Filter: seen (true=read only, false=unread only)",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "from",
              "displayName": "Filter: sender email address",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "subject",
              "displayName": "Filter: email subject",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "searchText",
              "displayName": "Filter: text in email body",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "flagged",
              "displayName": "Filter: flagged/important (true/false)",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "answered",
              "displayName": "Filter: answered/replied (true/false)",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "since",
              "displayName": "Filter: emails after date (YYYY-MM-DD)",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "before",
              "displayName": "Filter: emails before date (YYYY-MM-DD)",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "mailbox",
              "displayName": "Filter: mailbox folder (default: INBOX)",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "limit",
              "displayName": "Max results (default: 50)",
              "required": false,
              "type": "number",
              "display": true
            },
            {
              "id": "emailUid",
              "displayName": "For mark action: email UID(s) comma-separated",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "markAsRead",
              "displayName": "For mark action: mark as read (true/false)",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "markFlagged",
              "displayName": "For mark action: mark as flagged/important (true/false)",
              "required": false,
              "type": "string",
              "display": true
            },
            {
              "id": "markDeleted",
              "displayName": "For mark action: mark as deleted (true/false)",
              "required": false,
              "type": "string",
              "display": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "b7fa2fe2-ce27-47f6-956c-667adf1dd6cf",
      "name": "Read OVH Emails",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2480,
        48
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const output = $json.output || '';\nconst MAX = 3900;\nconst entries = output.split(/\\n\\n+/);\nconst chunks = [];\nlet current = '';\nfor (const entry of entries) {\n  const candidate = current ? current + '\\n\\n' + entry : entry;\n  if (candidate.length > MAX && current.length > 0) {\n    chunks.push(current);\n    current = entry;\n  } else {\n    current = candidate;\n  }\n}\nif (current) chunks.push(current);\nreturn chunks.map((c, idx) => ({ json: { output: c, chunkIndex: idx, chunkTotal: chunks.length } }));"
      },
      "id": "fba75fec-71bc-4cd4-a159-9a7b53595d1d",
      "name": "Split Long Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        -208
      ]
    },
    {
      "id": "c5a51202-e11d-45be-8c2d-bf973dce8c4e",
      "name": "Check Message Text",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2048,
        -208
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "all"
      }
    },
    {
      "id": "066b89d8-2d9a-4fdb-a17c-26d1b299f366",
      "name": "Fallback Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        -384
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { output: \"D\u00e9sol\u00e9, je ne peux traiter que les messages texte pour le moment.\" } }}",
        "options": {}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-reset-1",
              "leftValue": "={{ $json.message.text.toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "/reset"
            },
            {
              "id": "condition-reset-2",
              "leftValue": "={{ $json.message.text.toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "/start"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c5a51203-e11d-45be-8c2d-bf973dce8c4e",
      "name": "Check Reset Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2176,
        -208
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { output: \"\ud83d\udd04 Session r\u00e9initialis\u00e9e ! Je suis pr\u00eat pour une nouvelle conversation. Pose-moi ta question !\" } }}",
        "options": {}
      },
      "id": "066b89d9-2d9a-4fdb-a17c-26d1b299f367",
      "name": "Reset Memory Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        -384
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const chatId = $json.message.chat.id;\nreturn [{ json: { ...$json, chatId } }];"
      },
      "id": "extract-chat-id-001",
      "name": "Extract Chat Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        48
      ]
    }
  ],
  "connections": {
    "Telegram Message Received": {
      "main": [
        [
          {
            "node": "Check Message Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Text": {
      "main": [
        [
          {
            "node": "Check Reset Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Message": {
      "main": [
        [
          {
            "node": "Send Reply to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Assistant with Email": {
      "main": [
        [
          {
            "node": "Split Long Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Long Reply": {
      "main": [
        [
          {
            "node": "Send Reply to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Assistant with Email",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama": {
      "ai_languageModel": [
        [
          {
            "node": "AI Assistant with Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read OVH Emails": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant with Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Reset Command": {
      "main": [
        [
          {
            "node": "Reset Memory Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Chat Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Memory Reply": {
      "main": [
        [
          {
            "node": "Send Reply to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Context": {
      "main": [
        [
          {
            "node": "AI Assistant with Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodeGroups": [],
  "tags": [],
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  }
}
