workflows/telegram-ollama-chatbot.json
{
  "name": "Telegram Ollama Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "2c0cc6ed-c04f-487c-96e6-7ce8cbb1cde9",
      "name": "Telegram Message Received",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [2000, -208],
      "webhookId": "wh-telegram-001"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": { "temperature": 0.7 }
      },
      "id": "a9bcb863-2b53-412f-be27-bd0092a48e2f",
      "name": "Ollama",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [2096, 48]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful Telegram assistant with access to OVH Outlook emails.\n\nYou have these tools available:\n1. Read OVH Emails - Read and filter emails, or mark them as read/unread/flagged. Use filters like seen (true=read, false=unread), from, subject.\n\nWhen the user asks about emails:\n- \"Check my inbox\" → use Read OVH Emails\n- \"Show unread emails\" → use Read OVH Emails with seen=false\n- \"Show emails from someone\" → use Read OVH Emails with from=\"address\"\n- \"Show only the last 3 emails\" → use Read OVH Emails with limit=3\n- \"Mark email as read\" → use Read OVH Emails with action=\"mark\", emailUid=..., markAsRead=true\n\nIMPORTANT: Reading emails does NOT mark them as read. They stay unread unless you explicitly use action=\"mark\" with markAsRead=true.\n\nBe concise and friendly. Respond in the same language the user writes in.\n\nIMPORTANT: Do NOT use any markdown, HTML, or special formatting in your responses. Write in plain text only. No bold, no italics, no code blocks, no links.",
          "enableStreaming": false
        }
      },
      "id": "c42909c3-ac7e-4061-8fa8-1d5a78900b12",
      "name": "AI Assistant with Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2240, -208]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Message Received').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "d4e5f6a7-b8c9-4d0e-a1b2-c3d4e5f6a7b8",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [2288, 48]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message Received').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": ""
        }
      },
      "id": "b12ffc41-c2a8-4a6d-b11b-c8ef9c6dfd4b",
      "name": "Send Reply to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2800, -208],
      "webhookId": "wh-telegram-reply-001"
    },
    {
      "parameters": {
        "description": "Read emails from your OVH mailbox with optional filters. You can filter by seen (true=read only, false=unread only), from, subject, searchText, flagged, answered, since/before dates, mailbox, and limit. To mark emails as read/unread/flagged/deleted set action=mark with emailUid and markAsRead/markFlagged/markDeleted.",
        "workflowId": { "__rl": true, "mode": "id", "value": "me7ect2HVlIIo4us" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "",
            "seen": "",
            "from": "",
            "subject": "",
            "searchText": "",
            "flagged": "",
            "answered": "",
            "since": "",
            "before": "",
            "mailbox": "",
            "limit": "",
            "emailUid": "",
            "markAsRead": "",
            "markFlagged": "",
            "markDeleted": ""
          },
          "matchingColumns": [],
          "schema": [
            { "id": "action", "displayName": "Action: \"read\" or \"mark\"", "required": false, "type": "string", "display": true },
            { "id": "seen", "displayName": "Filter: seen (true=read only, false=unread only)", "required": false, "type": "string", "display": true },
            { "id": "from", "displayName": "Filter: sender email address", "required": false, "type": "string", "display": true },
            { "id": "subject", "displayName": "Filter: email subject", "required": false, "type": "string", "display": true },
            { "id": "searchText", "displayName": "Filter: text in email body", "required": false, "type": "string", "display": true },
            { "id": "flagged", "displayName": "Filter: flagged/important (true/false)", "required": false, "type": "string", "display": true },
            { "id": "answered", "displayName": "Filter: answered/replied (true/false)", "required": false, "type": "string", "display": true },
            { "id": "since", "displayName": "Filter: emails after date (YYYY-MM-DD)", "required": false, "type": "string", "display": true },
            { "id": "before", "displayName": "Filter: emails before date (YYYY-MM-DD)", "required": false, "type": "string", "display": true },
            { "id": "mailbox", "displayName": "Filter: mailbox folder (default: INBOX)", "required": false, "type": "string", "display": true },
            { "id": "limit", "displayName": "Max results (default: 50)", "required": false, "type": "number", "display": true },
            { "id": "emailUid", "displayName": "For mark action: email UID(s) comma-separated", "required": false, "type": "string", "display": true },
            { "id": "markAsRead", "displayName": "For mark action: mark as read (true/false)", "required": false, "type": "string", "display": true },
            { "id": "markFlagged", "displayName": "For mark action: mark as flagged/important (true/false)", "required": false, "type": "string", "display": true },
            { "id": "markDeleted", "displayName": "For mark action: mark as deleted (true/false)", "required": false, "type": "string", "display": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "b7fa2fe2-ce27-47f6-956c-667adf1dd6cf",
      "name": "Read OVH Emails",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2480, 48]
    }
  ],
  "connections": {
    "Telegram Message Received": {
      "main": [[{ "node": "AI Assistant with Email", "type": "main", "index": 0 }]]
    },
    "AI Assistant with Email": {
      "main": [[{ "node": "Send Reply to Telegram", "type": "main", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Assistant with Email", "type": "ai_memory", "index": 0 }]]
    },
    "Ollama": {
      "ai_languageModel": [[{ "node": "AI Assistant with Email", "type": "ai_languageModel", "index": 0 }]]
    },
    "Read OVH Emails": {
      "ai_tool": [[{ "node": "AI Assistant with Email", "type": "ai_tool", "index": 0 }]]
    }
  },
  "nodeGroups": [],
  "tags": [],
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  }
}